/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .group {
   content: "";
   display: table;
   clear: both;
 }

 input:disabled {
   color: lightgrey;
   border-color: lightgrey;
 }

input:hover:disabled {
  color: salmon;
  border-color: lightgrey;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}


.modal-box {
  transform: translateX(-220px);
  position: fixed;
  border-radius: 10px;
  left: 50%;
  top: 150px;
  width: 400px;
  height: 400px;
  padding: 20px;
  margin: 0 auto;
  background-color: gray;
}

.modal-background {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
