/*
 *= require_tree .
 *= require_self
 */


.group {
  content: "";
  display: table;
  clear: both;
 }

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  background-size: cover;
  background-position: top;
  width: 100%;
  background-attachment: fixed;
}

html {
  height: calc(100% - 150px);
}

#root {
  height: 100%;
}

#big-wrapper {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
  transition: color, 0.5s, ease-in-out;
}

a:hover {
  color: #FF9D1B;
}

hr {
  width: 60%;
  opacity: 0.5;
}
