/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.group {
  content: "";
  display: table;
  clear: both;
 }

.login-submits {
  width: 293px;
  margin: 0 auto;
}

.sign-up-in .error {
  list-style: none;
  position: absolute;
  top: 10px;
}

input[type=submit]{
  background-color: navy;
  margin: 20px 15px;
  border-radius: 10px;
  color: lightgrey;
  border-color: #888;
  outline: 0;
}

input[type=submit]:disabled {
  color: #eee;
  background-color: darkgrey;
  border-color: #888;
}

input[type=submit]:hover {
  border-color: #888;
  color: #fff;
  background-color: darkblue;
}

.helper-text {
  font-weight: lighter;
  font-size: smaller;
  position: absolute;
  top: 250px;
  right: 20px;
}

input[type=submit]:hover:disabled {
  border-color: #888;
  color: #eee;
  background-color: darkgrey;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

.login-text-input {
  margin-left: 10px;
}

.sign-up-in label {
  display: inline-block;
  float: right;
}

.sign-up-in h4 {
  text-align: center;
}

.modal-box {
  transform: translateX(-220px);
  z-index: 2;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  top: 150px;
  width: 360px;
  height: 360px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: gray;
  -webkit-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px -4px rgba(0,0,0,0.75);
}

.modal-background {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
