/* SIGN IN STUFF */
.sign-up-in input[type=text] {
  margin-left: 10px;
}

.sign-up-in label {
  display: inline-block;
  float: right;
}

.modal-wrapper {
  padding: 15px;
  height: 90%;
}

#demo {
  position: absolute;
  right: 32px;
  bottom: 92px;
  font-size: 12px;
  color: #064473;
}

#demo:hover {
  cursor: pointer;
}

.login-text-input {
  margin-left: 10px;
}

.sign-up-in .error {
  list-style: none;
  float: right;
  margin-bottom: 0;
  margin-right: 10px;
  color: red;
}

.helper-text {
  font-weight: lighter;
  font-size: smaller;
  position: absolute;
  top: 240px;
  right: 15px;
}

/* GENERAL MODAL STUFF */

/*TODO had an idea about using refs to maybe solve the frosting problem*/


h5 {
  text-align: center;
  padding-top: 10px
}

input[type=submit]{
  background-color: #064473;
  margin: 20px 15px;
  border-radius: 10px;
  color: lightgrey;
  border-color: #888;
  outline: 0;
  float: right;
  transition: color, 1s, ease;
}

input[type=submit]:disabled {
  color: #eee;
  background-color: darkgrey;
  border-color: #888;
}

input[type=submit]:hover {
  cursor: pointer;
  border-color: #888;
  color: #FF9D1B;
  background-color: #064473;
}

input[type=submit]:hover:disabled {
  border-color: #888;
  color: #eee;
  background-color: darkgrey;
}



/* UPLOAD STUFF */
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.track-upload .upload-text {
  width: 280px;
  max-width: 300px;
  max-height: 135px;
}

.track-upload span {
  margin-right: 10px;
}

.title-and-descrip {
  float: left;
  width: 304px;
  border-right: 1px solid #ccc;
}

.file-section {
  padding-left: 15px;
  width: 330px;
  float: right;
}

#upload {
  position: relative;
  float: right;
}

.upload-buttons {
  background-color: whitesmoke;
  color: #222;
  margin: 10px 15px;
}

.errorHandler {
  width: 330px;
  float: right;
  position: relative;
  bottom: 15px;
  font-size: 12px;
}

.upload-buttons:hover {
  color: #FF9D1B;
  cursor: pointer;
}

.image-thumbnail {
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 5px;
  border: 1px solid #888;
}

.shown {
  display: block !important;
}

.hidden {
  display: none !important;
}

/*EDIT PROFILE STUFF*/

.edit-profile .helper-text {
  position: relative;
  right: 0;
  top: 0;
  padding-bottom: 20px;
}

.edit-profile .upload-buttons {
  margin: 31px 15px;
}

.edit-profile .image-thumbnail {
  margin-top: 30px;
}

.edit-profile input[type=submit] {
  margin: 45px 15px;
}

.edit-profile .login-text-input {
  width: 280px;
  max-width: 280px;
  max-height: 145px;
}
