.audio-wrapper {
  position: fixed;
  top: 50px;
  width: 100%;
  background-color: #064473;
  height: 50px;
  z-index: 1;
}

.audio-container {
  width: 845px;
  height: 50px;
  margin: 0 auto;
}

.stream-play {
  background-color: whitesmoke;
  width: 105px;
  float: left;
  margin: 6px;
  position: relative;
}

.progress-bar-container {
  width: 300px;
  height: 2px;
  padding: 8px 0;
  float: left;
  margin: 15px 25px;
  position: relative;
  top: -6px
}

#progress-slider {
  width: 300px;
}

.audio-container p {
  float: left;
  height: 30px;
  margin-top: 18px;
  margin-left: 47px;
}

.info-container {
  color: ghostwhite;
  height: 50px;
  width: 39%;
  float: left;
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-track {
  display: inline-block;
  margin-top: 18px;
  margin-left: 47px;
  max-width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title-track span {
  max-width: 200px;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.imageThumb {
  height: 30px;
  width: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  float: left;
  top: 10px;
  left: 30px;
}

.time-left {
  color: whitesmoke;
  float: left;
  position: relative;
  top: 22px;
  font-size: 12px;
  border-right: ghostwhite 1px solid;
  padding-right: 23px;
  margin-top: -4px;
}

#littlearrow:hover {
  cursor: pointer;
}

#littlearrow {
  margin-left: 10px;
  float: right;
}

#play-queue {
  z-index: 1;
  width: 300px;
  position: absolute;
  left: 28px;
  top: 50px;
  padding: 5px 0;
  background-color: rgba(6,68,115,.7);
  color: aliceblue;
  font-size: 12px;
  transition: background-color, 0.3s, ease;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#little-number {
  margin-right: 16px;
}

#play-queue li {
  list-style: none;
  margin-left: 22px;
  margin-bottom: 0;
  padding: 6px 0;
}

#play-queue li:hover {
  cursor: pointer;
  color: white;
  background-color: RGBA(6,68,115,.9);

}
