// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-cover {
  height: 174px;
  width: 174px;
  background-color: lightgrey;
  background-size: 100% 100%;
  padding: 10px;
}

.detail-album-cover {
  width: 204px;
  height: 204px;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
}

.index-item-controls {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity, 0.2s, ease;
}

.album-cover:hover .index-item-controls {
  visibility: visible;
  opacity: 1;
}

.play-button-icon:hover {
  background-image: url('http://res.cloudinary.com/thadowg/image/upload/v1456856896/play_hover_wi5a2p.png');
  cursor: pointer;
}

.add-to-queue {
  background-color: rgba(255,255,255,.8);
  top: 25px;
  position: relative;
  color: black;
  padding: 0 10px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);;
  border-radius: 5px;
}

.add-to-queue:hover {
  color: black;
  cursor: pointer;
}

.play-button-icon {
  background-image: url('http://res.cloudinary.com/thadowg/image/upload/v1456856909/play-button_ukbotp.png');
  height: 75px;
  margin: 0 auto;
  top: 20px;
  width: 75px;
  position: relative;
}

.caption {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  top: 15px;
  width: 194px;
  position: relative;
  color: black;
}

.content-container {
  width: 100%;
}

.all-tracks, .track-detail {
  max-width: 930px;
  width: 90%;
  margin: 50px auto;
}

.album-container {
  min-width: 194px;
  max-width: 204px;
  padding: 3px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background-color: #DDD;
  -webkit-box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);;
}

.track-index-item {
  margin: 15px;
  float: left;
}
