// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-cover {
  height: 174px;
  width: 174px;
  background-color: lightgrey;
  background-size: 100% 100%;
  padding: 10px;
}

#discover-hero {
  background-color: transparent;
  height: 30%;
  padding-top: 17%;
  text-align: center;
  color: aliceblue;
}

#discover-hero p{
  width: 60%;
  margin: 0 auto;
  font-weight: lighter;
}

.track-index-wrapper {
  height: 100%;
  min-height: 500px;
}

.detail-album-cover {
  width: 204px;
  height: 204px;
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 58px -18px rgba(0,0,0,0.75);
}

.index-item-controls {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity, 0.2s, ease;
}

.album-cover:hover .index-item-controls {
  visibility: visible;
  opacity: 1;
}

.play-button-icon:hover {
  background-image: url('http://res.cloudinary.com/thadowg/image/upload/v1456856896/play_hover_wi5a2p.png');
  cursor: pointer;
}

.index-item-controls .track-buttons {
  background-color: rgba(255,255,255,.8);
  top: 25px;
  position: relative;
  color: black;
  padding: 0 5px;
  display: block;
  font-size: 9px;
  line-height: 25px;
  height: 25px;
  margin: 10px auto;
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);;
  border-radius: 5px;
  transition: background-color 0.3s, ease-in-out,
              color 0.3s ease-in-out;
}

.track-buttons:hover {
  color: aliceblue;
  background-color: #333;
  cursor: pointer;
}

.play-button-icon {
  background-image: url('http://res.cloudinary.com/thadowg/image/upload/v1456856909/play-button_ukbotp.png');
  height: 75px;
  margin: -10px auto;
  top: 20px;
  width: 75px;
  position: relative;
}

.caption {
  text-align: center;
  font-size: 12px;
  margin-top: -3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  top: 15px;
  width: 194px;
  position: relative;
  color: black;
}

.caption:hover {
  cursor: pointer;
}

.content-container {
  width: 100%;
 background-color: #ABD5F5;
 padding-top: 6%;
 position: relative;
}

.all-tracks, .track-detail {
  max-width: 930px;
  width: 90%;
  margin: 100px auto;
  margin-bottom: 0;
}

.album-container {
  min-width: 194px;
  max-width: 204px;
  height: 250px;
  margin: 4px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #DDD;
  -webkit-box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);
  box-shadow: 0 0 8px 5px rgba(0,0,0,0.15);;
}

.track-index-item {
  margin: 15px;
  float: left;
}

// LIST STYLE


.track-list-index-item {
  height: 100px;
  width: 100%;
  position: relative;
  float: left;
  margin: 10px 50px;
  left: -58px;
}

.list-item-container {
  margin: 4px;
  width: 100%;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("http://res.cloudinary.com/thadowg/image/upload/v1457130730/cooldude_kxb928.png")
}

.album-pic {
  height: 70px;
  width: 70px;
  background-color: lightgrey;
  background-size: 100% 100%;
  padding: 10px;
  float: left;
}

.list-item-container .title{
  position: relative;
  color: black;
  float: left;
  font-size: 1.2em;
  max-width: 56%;
  margin: 0;
  padding: 31px 0 31px 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.list-item-container .title:hover {
  cursor: pointer;
}

.list-buttons:hover {
  cursor: pointer;
}

.list-buttons {
  height: 25px;
  width: 25px;
  position: relative;
  background-size: contain;
}

#queue {
  background-image: url("http://res.cloudinary.com/thadowg/image/upload/c_scale,w_35/v1457063904/queue_m8kpht.png");
  left: -45px;
  top: 35px;
  float: right;
}

#playlist {
  height: 23px;
  background-image: url("http://res.cloudinary.com/thadowg/image/upload/c_scale,h_35,w_35/v1457063904/list_toz0dq.png");
  left: -60px;
  top: 36px;
  float: right;
}

#play {
  opacity: 0;
  visibility: hidden;
  height: 65px;
  width: 70px;
  background-image: url("http://res.cloudinary.com/thadowg/image/upload/v1456856909/play-button_ukbotp.png");
  transition: opacity, 0.2s, ease-in-out;
  margin-left: 2px;
}

.album-pic:hover #play {
  opacity: 1;
  visibility: visible;
}













// cool
