// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-container {
  width: 25%;
  float: left;
  position: relative;
  padding: 68px 0px;
  -webkit-box-shadow: 10px 10px 58px -18px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 58px -18px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 58px -18px rgba(0, 0, 0, 0.35);
  top: -50px;
  background-color: rgba(6,68,115, .7);
  color: white;
}

.big-user-pic {
  height: 230px;
  width: 100%;
  background-size: cover;
  margin: auto;
  position: relative;

}

.user-info-box {
  height: 200px;
  width: 200px;
  margin: 10px auto;
}

.user-info-name {
  font-variant: small-caps;
  font-size: 2em;
}

.box-header {
  font-weight: bold;
  color: #FF9D1B;
  font-variant: small-caps;
  font-size: 1.2em;
}

.playlist-info {
  width: 25%;
  float: left;
  padding: 10px;
}

.playlist-info p {
  margin-top: 90px;
  font-size: 12px;
}

.music-tab {
  width: 67%;
  max-height: 95%;
  overflow-y: scroll;
  position: relative;
  left: 40px;
  padding: 20px;
  background-color: RGBA(0,0,0,.5);
  color: white;
}

.large-playlist-photo {
  position: relative;
  top: 75px;
  height: 100px;
  width: 100px;
}

.user-playlist {
  list-style: none;
  margin-bottom: 45px;
  width: 100%;
}

.user-playlist-title {
  text-align: left;
  position: absolute;
  width: 800px;
  background-color: aliceblue;
  left: 0;
  padding-left: 32px;
  height: 45px;
  color: black;
}

.user-playlist-tracks {
  list-style: none;
  width: 66%;
  float: left;
  top: 65px;
  position: relative;
  margin-bottom: 30px;
  border-left: 1px solid aliceblue;
  margin-left: 0;
  padding-left: 15px;
}

.playlist-track {
  margin-bottom: 0;
  padding: 10px 0 10px 15px;
  border-bottom: 1px solid aliceblue;
}

.playlist-track:hover {
  background-color: #FFDCAC;
  color: black;
  cursor: pointer;
}

.tab-switcher {
  background-color: transparent;
  border: none;
  border-bottom: 39px solid aliceblue;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  position: relative;
  color: black;
  transition: border-bottom-color, 1s, ease;
}

.tab-switcher:hover {
  border-bottom-color: #5DA9E3;
}

.tab-switcher-container {
  height: 38px;
  position: relative;
  margin-left: 280px;
  border-bottom: 1px solid aliceblue;
}

@media (max-height: 700px) {
  .user-info-container {
    height: 120% !important;
    padding: 7% 0px;
  }
}
