<!DOCTYPE html>
<html>
<head>
  <title>NoiseCave</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="http://widget.cloudinary.com/global/all.js" charset="utf-8"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
